.home {
  background: linear-gradient(#141e30, #243b55);
  color: #ffffff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.home h1 {
  font-size: 3rem;
  margin: 0;
  padding: 0;
}

.home p {
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
  margin-top: 1rem;
}

.home button {
  margin-top: 2rem;
  font-size: 1.5rem;
  padding: 0.5rem 1.5rem;
  border-radius: 0.25rem;
  background-color: #ffffff;
  color: #243b55;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.home button:hover {
  transform: translateY(-3px);
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 600px) {
  .home h1 {
    font-size: 2rem;
  }

  .home p {
    font-size: 1.2rem;
  }

  .home button {
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
  }
}